.header{
    position: relative;
}
.logo{
    width: 200px;
    height: 150px;
}
.iconos{

    position: absolute;
    top: 10px;
    right: 10px;
}
.somos{
    position: absolute;
    top: 10px;
    right: 80px;
}

.menu {
    background: #222;
    padding: 10px;
    border-bottom: 2px solid #FFFF;
}



.carrusel{
    width: 100%;
    height: 800px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size: 100%, 100%;
}
.titulo-carrusel{
    color: #000;
}
.subtitulo-carrusel{
    color: #000;
}
.descripcion{
    text-align: center;
}
.btn-minus {
    background: none;
    border: none;
    padding: 0;
    font-size: 1.2rem;
    color: #f00;
    cursor: pointer;
}

.btn-minus:hover {
    color: #c00;
}

.fixed-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    width: 90%;
    max-width: 400px;
}
.user-panel {
    background-color: #f8f9fa; /* Color de fondo suave */
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}
.admin-section {
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}
.admin-container {
    min-height: calc(100vh - 350px);
}
.table-responsive {
    margin-top: 20px;
}
.form-container {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}


.producto-imagen-mini {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}